::ng-deep .form-check-input:checked,
::ng-deep .list-group-item.active {
    background-color: #00dfc0;
    border-color: #00dfc0;
}
::ng-deep .list-group-item {
    padding: 3px 6px;
}
::ng-deep .form-check-input {
    border-color: #00dfc0;
}